<!DOCTYPE html>
<html>
  <head>
    <title>网站首页</title>
    <% include head %> 
  </head>
  <body>
    <%- include('bar',{username:username}) %> 


    <div class="list">

        <div class="row">
          <span>序号</span>
          <span>作者</span>
          <span><a href="#">标题</a></span>
          <span>时间</span>
          <span>
            <a href="#">编辑</a>
            <a href="#">删除</a>
          </span>
        </div>

      <div class="pages">
        
          <a href=''>页码11</a>
          
      </div>



  </body>
</html>
